{% extends '::base.html.twig' %}

{% block title %}{% trans %}DataDog New Goal{% endtrans %}{% endblock %}

{% block body %}

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading separator">
                <div class="panel-title">Goal creation
                </div>
            </div>
            <div class="panel-body">
                {{ include('GoalBundle:Goal:_form.html.twig') }}
            </div>
        </div>
    </div>

{% endblock %}