{% extends '::base.html.twig' %}

{% block title %}{% trans %}DataDog New User{% endtrans %}{% endblock %}

{% block body %}

    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading separator">
                <div class="panel-title">User creation
                </div>
            </div>
            <div class="panel-body">
                {{ include('UserBundle:User:_form.html.twig') }}
            </div>
        </div>
    </div>

{% endblock %}