{% extends '::base.html.twig' %}

{% block title %}{% trans %}DataDog Teams{% endtrans %}{% endblock %}

{% block body %}

    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading separator">
                <div class="panel-title">Team list
                </div>
            </div>
            <div class="panel-body">
                {{ include('UserBundle:Team:_list.html.twig') }}
                <br>
                {% if is_granted('ROLE_MANAGER') %}
                    <a href="/team/create" class="btn btn-primary">Add new team</a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}